
<div class="color1-background">
  <section class="animated-background">
    <div class="login-card p-4">
      <h2 class="color1-text">BIENVENIDO</h2>
      <form (ngSubmit)="login()">
        <div class="form-group">
          <label for="email" class="color1-text">Email:</label>
          <input
            type="email"
            id="email"
            class="form-control"
            [(ngModel)]="email"
            name="email"
            required
          />
        </div>
        <div class="form-group">
          <label for="password" class="color1-text">Password:</label>
          <input
            type="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            required
          />
        </div>
        <div *ngIf="errorMensaje" class="error">
          {{ errorMensaje }}
        </div>
        <button type="submit" class="btn btn-primary mt-3">Iniciar sesión</button>
      </form>

      <div class="register-link mt-3">
        <p class="color1-text">
          <button class="btn btn-link" (click)="goToRegister()"> ¿No tienes cuenta?</button>
        </p>
      </div>
      
      <!-- Botón para iniciar sesión con Google -->
      <div class="google-login mt-3">
        <button class="btn btn-danger" (click)="loginWithGoogle()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
            <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
          </svg>
        </button>
      </div>
      
    </div>
  </section>
</div>

